{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>
    <div class="container">
        <div class="error">
            {% for message in messages %}
                <h5>{{message}}</h5>
            {% endfor %}
        </div>
        <div class="twitter-logo"></div>
        <div class="twitter-title">TWITTER</div>
        <form class="inputs" method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <label>Username</label>
            <input type="text" placeholder="Username" name="username" id="username"/>
            <label>Pasword</label>
            <input type="password" placeholder="Password" name="password" id="password"/>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>